HOST_PORT_REDIS=6379
HOST_PORT_MYSQL=3308
HOST_PORT_APP=8080

NETWORK_SUBNET=172.28.1.0/16

REDIS_PASSWORD=example_redis_password
REDIS_HOST=172.28.1.4
REDIS_PORT=6379

MYSQL_HOST=172.28.1.5
MYSQL_PORT=3306
MYSQL_DATABASE=example_database
MYSQL_USER=example_user
MYSQL_PASSWORD=example_password
MYSQL_ROOT_PASSWORD=example_root_password

APP_HOST=172.28.1.6
APP_PORT=8080

TYPEORM_CONNECTION=mysql
TYPEORM_HOST=172.28.1.5
TYPEORM_USERNAME=example_user
TYPEORM_PASSWORD=example_password 
TYPEORM_DATABASE=example_database 
TYPEORM_PORT=3306
TYPEORM_SYNCHRONIZE=true 
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=entity/*.js,modules/**/entity/*.js